body {
  background-color: #f5f5f5;
}

img#logo {
  height: 70px;
  float: right;
  margin-top: 25px;
}
.initial-hidden {
  display: none;
  margin: 20px 0px;
}

.initial-hidden img {
  border: 1px solid #e5e5e5;
}

h1 {
  padding-left: 0px;
  border-radius: 5px;
  margin: 40px 0px 20px -2px;
}

.q-box:hover {
  box-shadow: 0px 0px 3px 0px #3fa9f5;
}

.q-box {
  background: #fff;
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.q-box p {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
}

div.radio {
  padding-left: 10px;
}

button {
  background-color: #3fa9f5;
  color: #fff;
}

p#instructions {
  color: #4cab28;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.opacity {
  opacity: .2;
}
